*.running.properties.txt
*\~
*.mobi
build
*.DS_Store
.attach_pid*
*.7z
*.action
*.apk
*.app
*.avi
*.bat
*.bin
*.cab
*.cmd
*.com
*.command
*.cpl
*.csh
*.dmg
*.doc
*.docx
*.ex_
*.exe
*.gadget
*.html
*.inf
*.ins
*.inx
*.ipa
*.iso
*.isu
*.job
*.jse
*.ksh
*.lnk
*.mov
*.mp3
*.mp4
*.msc
*.msi
*.msp
*.mst
*.osx
*.out
*.paf
*.pdf
*.pif
*.potm
*.potx
*.ppam
*.pptm
*.pptx
*.prg
*.ps1
*.rar
*.reg
*.rgs
*.rtf
*.run
*.scr
*.sct
*.shar
*.shb
*.shs
*.tar
*.u3p
*.vb
*.vbe
*.vbs
*.vbscript
*.workflow
*.ws
*.wsf
*.wsh
*.xls
*.xlsx
*.xpr
*.zip
vale/styles/AsciiDoc/
vale/styles/RedHat/
